[generic]
cpu_max_freq="1992000"
cpu_governor="performance"

gpu_max_freq="800000000"
gpu_governor="performance"

heartbeat="1"

overlays="i2c0 uart0 spi0"
overlays_resize=16384

[display_vu8m]
lcd_density=210
